.header,.retweet{
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 400;
    color: rgb(83, 100, 113);
}

.trend-text{
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 700;
}
.trend{
    padding-top: 20px ;
    padding-left: 10px;
}
